
body{
	margin:0px;
	padding:0px;
	background-image:url(https://bit.ly/2S1NLVf);
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;}
*{
	box-sizing:border-box;}
/* #nav{
    height:10vh;
} */
.bg{
    background:rgba(163, 0, 0, 0.63);
}
.logo{
    height: 100px;
    overflow: hidden;
}