
body{
	margin:0px;
	padding:0px;
	background-image:url(https://bit.ly/2S1NLVf);
	background-size:cover;
	background-repeat:no-repeat;
    background-attachment:fixed;
}
*{
	box-sizing:border-box;}
/* #nav{
    height:10vh;
} */
.bg{
    background:rgba(163, 0, 0, 0.63);
}
.logo{
    height: 100px;
    overflow: hidden;
}

.container{
    position:relative;
    width:100;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    padding:30px;
}
.card{
    background-color: rgba(0,0,0,0.5);
    position:relative;
    max-width: 300px;
    height: 300px;
    margin:30px 10px;
    padding:20px 15px;
    display:flex;
    flex-direction:column;
    box-shadow: 0 5px 202px rgba(0,0,0,0.5);
    transition:0.3s ease-in-out;
}
h2{
    color:white;
}
.card p{
    display:none;
    color:white;
}
.card:hover{
    height:450px;
}

.imgBox{
    position:relative;
    width:260px;
    /* height:260px; */
    top:-60px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.imgBox img{
    max-width: 100%;
    border-radius:4px;
}